@font-face {
	font-family: 'arrows';
	src:url('../fonts/arrows/arrows.eot');
	src:url('../fonts/arrows/arrows.eot?#iefix') format('embedded-opentype'),
		url('../fonts/arrows/arrows.woff') format('woff'),
		url('../fonts/arrows/arrows.ttf') format('truetype'),
		url('../fonts/arrows/arrows.svg#arrows') format('svg');
	font-weight: normal;
	font-style: normal;
}

.bb-custom-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.bb-custom-wrapper .bb-bookblock {
	width: 100%;
	height: 100%;
	-webkit-perspective: 2000px;
	perspective: 2000px;
}

.bb-custom-side {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	background: #fff;
	/* Centering with flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

/* .bb-custom-firstpage h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
	background: #fff;
}

.bb-custom-firstpage h1 span {
	display: block;
	font-size: 60%;
	opacity: 0.3;
	padding: 0 0 0.6em 0.1em;
}

.bb-custom-firstpage {
	text-align: center;
	padding-top: 15%;
	width: 50%;
	float: left;
	height: 100%;
} */

.bb-custom-side p {
	padding: 8%;
	font-size: 1.8em;
	font-weight: 300;
}

.bb-custom-wrapper h3 {
	font-size: 1.4em;
	font-weight: 300;
	margin: 0.4em 0 1em;
}

.bb-custom-wrapper > nav {
	width: 100%;
	height: 40px;
	margin: 1em auto 0;
	position: fixed;
	bottom: 20px;
	z-index: 1000;
	text-align: center;
}

.bb-custom-wrapper > nav a {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 2px;
	background: #1baede;
	color: #fff;
	font-size: 0;
	margin: 2px;
}

.bb-custom-wrapper > nav a:hover {
	opacity: 0.6;
}

.bb-custom-icon:before {
	font-family: 'arrows';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 30px;
	line-height: 40px;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.bb-custom-icon-first:before,
.bb-custom-icon-last:before {
	content: "\e002";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-arrow-right:before {
	content: "\e003";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-first:before {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* No JS */
.no-js .bb-custom-wrapper {
	height: auto;
}

.no-js .bb-custom-content {
	height: 470px;
}

@media screen and (max-width: 61.75em){
	.bb-custom-side {
		font-size: 70%;
	}
}

@media screen and (max-width: 33em){
	.bb-custom-side {
		font-size: 60%;
	}
}








































/*shutter animation loading*/
.shutter_1 {
	padding: 0;
	margin: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #282828;
	z-index: 10000;
  }
  #loader {
	width: 100%;
	height: 100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	background-color: rgb(32,32,32);
	z-index: 10000;
	text-align: center;
  }
  
  @keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		display: none;
		opacity: 0;
		z-index: -1;
	}
  }
  #loader.loaded {
	animation: fadeOut 3s forwards;
  }
  
  .shutter_1 {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
  }

/*-------------------------------------------------------------------------*/
main {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f0f0f0;
  }
  
  .dank-ass-loader {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .dank-ass-loader .row {
	display: flex;
  }
  
  .arrow {
	width: 0;
	height: 0;
	margin: 0 -6px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 21.6px solid rgb(0, 8, 97);
	-webkit-animation: blink 1s infinite;
			animation: blink 1s infinite;
	filter: drop-shadow(0 0 18px rgb(0, 8, 97));
  }
  .arrow.down {
	transform: rotate(180deg);
  }
  .arrow.outer-1 {
	-webkit-animation-delay: -0.0555555556s;
			animation-delay: -0.0555555556s;
  }
  .arrow.outer-2 {
	-webkit-animation-delay: -0.1111111111s;
			animation-delay: -0.1111111111s;
  }
  .arrow.outer-3 {
	-webkit-animation-delay: -0.1666666667s;
			animation-delay: -0.1666666667s;
  }
  .arrow.outer-4 {
	-webkit-animation-delay: -0.2222222222s;
			animation-delay: -0.2222222222s;
  }
  .arrow.outer-5 {
	-webkit-animation-delay: -0.2777777778s;
			animation-delay: -0.2777777778s;
  }
  .arrow.outer-6 {
	-webkit-animation-delay: -0.3333333333s;
			animation-delay: -0.3333333333s;
  }
  .arrow.outer-7 {
	-webkit-animation-delay: -0.3888888889s;
			animation-delay: -0.3888888889s;
  }
  .arrow.outer-8 {
	-webkit-animation-delay: -0.4444444444s;
			animation-delay: -0.4444444444s;
  }
  .arrow.outer-9 {
	-webkit-animation-delay: -0.5s;
			animation-delay: -0.5s;
  }
  .arrow.outer-10 {
	-webkit-animation-delay: -0.5555555556s;
			animation-delay: -0.5555555556s;
  }
  .arrow.outer-11 {
	-webkit-animation-delay: -0.6111111111s;
			animation-delay: -0.6111111111s;
  }
  .arrow.outer-12 {
	-webkit-animation-delay: -0.6666666667s;
			animation-delay: -0.6666666667s;
  }
  .arrow.outer-13 {
	-webkit-animation-delay: -0.7222222222s;
			animation-delay: -0.7222222222s;
  }
  .arrow.outer-14 {
	-webkit-animation-delay: -0.7777777778s;
			animation-delay: -0.7777777778s;
  }
  .arrow.outer-15 {
	-webkit-animation-delay: -0.8333333333s;
			animation-delay: -0.8333333333s;
  }
  .arrow.outer-16 {
	-webkit-animation-delay: -0.8888888889s;
			animation-delay: -0.8888888889s;
  }
  .arrow.outer-17 {
	-webkit-animation-delay: -0.9444444444s;
			animation-delay: -0.9444444444s;
  }
  .arrow.outer-18 {
	-webkit-animation-delay: -1s;
			animation-delay: -1s;
  }
  .arrow.inner-1 {
	-webkit-animation-delay: -0.1666666667s;
			animation-delay: -0.1666666667s;
  }
  .arrow.inner-2 {
	-webkit-animation-delay: -0.3333333333s;
			animation-delay: -0.3333333333s;
  }
  .arrow.inner-3 {
	-webkit-animation-delay: -0.5s;
			animation-delay: -0.5s;
  }
  .arrow.inner-4 {
	-webkit-animation-delay: -0.6666666667s;
			animation-delay: -0.6666666667s;
  }
  .arrow.inner-5 {
	-webkit-animation-delay: -0.8333333333s;
			animation-delay: -0.8333333333s;
  }
  .arrow.inner-6 {
	-webkit-animation-delay: -1s;
			animation-delay: -1s;
  }
  
  @-webkit-keyframes blink {
	0% {
	  opacity: 0.1;
	}
	30% {
	  opacity: 1;
	}
	100% {
	  opacity: 0.1;
	}
  }
  
  @keyframes blink {
	0% {
	  opacity: 0.1;
	}
	30% {
	  opacity: 1;
	}
	100% {
	  opacity: 0.1;
	}
  }